<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zikri_cafe" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logoz"
        android:label="zikri cafe"
        android:roundIcon="@mipmap/logoz"
        android:supportsRtl="true"
        android:theme="@style/Theme.zikriCafe"
        tools:targetApi="31" >
        <activity
            android:name="com.example.zikri_cafe.dapur.DapurActivity"
            android:exported="false" />
        <activity
            android:name="com.example.zikri_cafe.pesanan.ListPesananActivity"
            android:exported="false" />
        <activity
            android:name="com.example.zikri_cafe.pesanan.PesananActivity"
            android:exported="false" />
        <activity
            android:name="com.example.zikri_cafe.menu.DetailListKategoriActivity"
            android:exported="false" />
        <activity
            android:name="com.example.zikri_cafe.menu.ListKategoriActivity"
            android:exported="false" />
        <activity
            android:name="com.example.zikri_cafe.menu.KategoriActivity"
            android:exported="false" />
        <activity android:name=".DashboardActivity"/>
        <activity
            android:name="com.example.zikri_cafe.splashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>